@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

.active hr {
    @apply block
}

@media (max-width:740px) {
    .active  p{
       @apply text-white bg-primary
    }
}

::-webkit-scrollbar {
    @apply hidden
}
/* Force white background for the entire site */
body, html {
    background-color: white !important; /* Ensures the background is always white */
    color-scheme: light; /* Prevents devices from switching to dark mode */
}
  
  /* Forcing Tailwind to use light theme */
  html {
    color-scheme: light; 
  }
  
 
  